__pycache__
.ipynb_checkpoints
.idea
.vscode
outputs
wandb
benchmarks.CONOPLib_278
benchmarks.CONOPLib_2582
benchmarks.CONOPLib_t62_s7
CONOPLib_t62_s7_old
test_log.txt
.DS_Store

/data/
/checkpoints/
/tmp/
/conop/

/log*/

/models/
/multi_envs_models/
/unified_envs_models/
/unified_envs_models_large/

1aZeroMean*
conop_id_species_no_*
dim*.pth
/*.png

njunet.py
/*test*
/*tmp*
/benchmarks/
/results/
